*{
  
    background-color:beige;

}
/* Nav bar Central*/
.navCentral{
    font-family: 'Dancing Script', cursive;
    font-size:x-large;
    color:salmon;
    float:right;
    text-align: right;
    
}
.navCentral li{
    color:salmon;
    padding:10px 15px;
    display:block;
    font-size:large;
}

.navCentral li:hover{
    color:cornflowerblue;
}

.navCentral li{
    position:absolute;
    display:none;
}
.navCentral:hover>li{
    display:contents;
}

/* Dando estilo a la solapa izquierda*/
.headerIzquierdo{
    margin:auto;
    
}
.botonContacto{
    font-family: 'Dancing Script', cursive;
    font-size:x-large;
    color:salmon;
    justify-content: flex-start;
   
   
}
ul,ol{
    list-style: none;
}
.botonContacto li a{
    color:salmon;
    padding:10px 15px;
    display:block;
}
.botonContacto  li a i:hover{
    color:cornflowerblue;
}

.botonContacto >li{
    float:left;
}
.botonContacto li{
    position:absolute;
    display:none;
  
}
.botonContacto:hover>li,a,i{
    display:list-item;
}

.botonContacto  li a i{
    position:relative;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
}

/*Dando estilo al slide central*/
span{
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size:x-large;
    color:coral;
    background-color: blanchedalmond;
    padding:0px 0px 2px 0px;
    border:1px white solid;
}
.container{
    text-align: center;
    
    
}
ul li img{
    border-radius: 50px;
    border:1px solid white;
}


 .container{
    margin:auto;
    width:500px;
    
    background-color:blanchedalmond;
    border: white solid;
}
ul,li{
    margin:0;
    padding:0;
    border-style:solid white;
    
}
ul.slider{
    position:relative;
    width:500px;
    height: 300px;
}
ul.slider li{
    position:absolute;
    left:0;
    top:0;
    opacity: 0;
    width:inherit;
    height: inherit;
    background-color:blanchedalmond ;
    transition: opacity 0.5s;
   
}
ul.slider li img{
    width:100%;
    width:300px;
    object-fit: cover;
}
ul.slider li:first-child{
    opacity:1;
}

ul.slider li:target{
    opacity:1;
}



.menu li{
    text-align:center;
}
.menu li{
    display:inline-block;
    text-align: center;
}
.menu li a {
    display:inline-block;
    color:cadetblue;
    text-decoration: none;
    background-color:blanchedalmond ;
    padding:10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
/* dando estilo y centrado al texto*/

#referencia1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:small;
    color:cadetblue;
    border:  1px ;
}
#referencia2{
    
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: small;
    color:cadetblue;
    
    border:  1px ;
}
#referencia3{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: small;
    color:cadetblue;
    
    border:  1px ;
}

.textoRelleno{
padding:0px 0px 15px 15px;

font-size: small;
}
/* Boton modo Oscuro*/
.botonOscuro{
   text-align: center;
   
}

.btn{
    font-family: 'Dancing Script', cursive;
    font-size:large;
    color:salmon;
    border:white solid
}

/*Aplicando el modo oscuro*/
.dark *{
    background-color: black;
   color:coral; 
}
/*Dando estilo al pie de pagina*/
.grupo1{
    display:flex;
    
    font-family:'Dancing Script', cursive; 
    font-size: medium;
    color:chocolate; 
      justify-content: space-evenly;
      align-items:flex-end ;
      flex-direction: row-reverse;
}

figure a img{
    border-radius: 100%;
    width:150px;
    display:flex;
    align-items: center;
}